BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AlignAfterOpenBracket: Align
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterUnion: false
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: true
  AfterNamespace: false
  AfterClass: false
  AfterFunction: true
  AfterControlStatement: MultiLine
  BeforeElse : false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
DerivePointerAlignment: false
PointerAlignment: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
ReflowComments: false
SortIncludes: false
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
